* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    color: #e53170;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    padding: 30px;
}

header p {
    display: flex;
    justify-content: center;
}

img {
    height: 150px;
    width: 150px;
    margin-right: 20px;
}

.container {
    margin: 50px;
    max-width: max-content;
    display: flex;
    flex-wrap: wrap;


}

.card {
    display: flex;
    background-color: black;
    margin: 20px;
}

.info-card {
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.info-card a {
    text-decoration: none;
    color: #5ccbf2;
}