* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {}

img {
    height: 150px;
    width: 150px;
    margin-right: 20px;
}

.container {
    margin: 50px;
    max-width: fit-content;
}

.card {
    display: flex;
    background-color: black;

}

.info-card {
    color: white;
    padding: 5px;

}

.info-card a {
    text-decoration: none;
    color: #5ccbf2;
}